<div class="full-screen-size-fixed-container d-flex justify-content-center align-items-center">
    <div class="p-3 text-center shadow">
        <h1 class="display-1 font-weight-bold ">{{ pageInfo.statusCode }}</h1>
        <h4 class="text-muted mb-4">{{ pageInfo.title }}</h4>
        <p class="" *ngIf="pageInfo.statusCode === 404">La page a été avalée par un trou noir ...</p>
        <a class="btn btn-dark" [routerLink]="homepageLink" role="button"><i class="fas fa-house-user mr-2"></i> retour à la page d'accueil</a>
    </div>
</div>
